.app.light {
  --bg-color: #fafafa;
  --inverted-bg-color: #163042;
  
  --primary-color: #333333;
  --inverted-primary-color: #9efcf0;
  --secondary-color: #263238;
  --inverted-secondary-color: #3c0;
}